openapi: 3.0.1
info:
  title: InterSystemsFHIRServer
  description: "Fast Healthcare Interoperability Resources (FHIR, pronounced \"Fire\"\
    ) defines a set of \"Resources\" that represent granular clinical concepts. The\
    \ resources can be managed in isolation, or aggregated into complex documents.\
    \ Technically, FHIR is designed for the web; the resources are based on simple\
    \ XML or JSON structures, with an http-based RESTful protocol where each resource\
    \ has predictable URL. Where possible, open internet standards are used for data\
    \ representation. \n"
  version: unspecified
servers:
- url: http://ec2-3-235-159-71.compute-1.amazonaws.com:9088/csp/healthshare/fhirserver/fhir/r4/
tags:
- name: Account
- name: ActivityDefinition
- name: AdverseEvent
- name: AllergyIntolerance
- name: Appointment
- name: AppointmentResponse
- name: AuditEvent
- name: Basic
- name: BodyStructure
- name: Bundle
- name: CapabilityStatement
- name: CarePlan
- name: CareTeam
- name: ChargeItem
- name: ChargeItemDefinition
- name: Claim
- name: ClaimResponse
- name: ClinicalImpression
- name: CodeSystem
- name: Communication
- name: CommunicationRequest
- name: CompartmentDefinition
- name: Composition
- name: ConceptMap
- name: Condition
- name: Consent
- name: Contract
- name: Coverage
- name: CoverageEligibilityRequest
- name: CoverageEligibilityResponse
- name: DetectedIssue
- name: Device
- name: DeviceDefinition
- name: DeviceMetric
- name: DeviceRequest
- name: DeviceUseStatement
- name: DiagnosticReport
- name: DocumentManifest
- name: DocumentReference
- name: EffectEvidenceSynthesis
- name: Encounter
- name: Endpoint
- name: EnrollmentRequest
- name: EnrollmentResponse
- name: EpisodeOfCare
- name: EventDefinition
- name: Evidence
- name: EvidenceVariable
- name: ExampleScenario
- name: ExplanationOfBenefit
- name: FamilyMemberHistory
- name: Flag
- name: Goal
- name: GraphDefinition
- name: Group
- name: GuidanceResponse
- name: HealthcareService
- name: ImagingStudy
- name: Immunization
- name: ImmunizationEvaluation
- name: ImmunizationRecommendation
- name: ImplementationGuide
- name: InsurancePlan
- name: Invoice
- name: Library
- name: Linkage
- name: List
- name: Location
- name: Measure
- name: MeasureReport
- name: Media
- name: Medication
- name: MedicationAdministration
- name: MedicationDispense
- name: MedicationKnowledge
- name: MedicationRequest
- name: MedicationStatement
- name: MedicinalProduct
- name: MedicinalProductAuthorization
- name: MedicinalProductContraindication
- name: MedicinalProductIndication
- name: MedicinalProductInteraction
- name: MedicinalProductPackaged
- name: MedicinalProductPharmaceutical
- name: MedicinalProductUndesirableEffect
- name: MessageDefinition
- name: MessageHeader
- name: MolecularSequence
- name: NamingSystem
- name: NutritionOrder
- name: Observation
- name: OperationDefinition
- name: Organization
- name: OrganizationAffiliation
- name: Patient
- name: PaymentNotice
- name: PaymentReconciliation
- name: Person
- name: PlanDefinition
- name: Practitioner
- name: PractitionerRole
- name: Procedure
- name: Provenance
- name: Questionnaire
- name: QuestionnaireResponse
- name: RelatedPerson
- name: RequestGroup
- name: ResearchDefinition
- name: ResearchElementDefinition
- name: ResearchStudy
- name: ResearchSubject
- name: RiskAssessment
- name: RiskEvidenceSynthesis
- name: Schedule
- name: SearchParameter
- name: ServiceRequest
- name: Slot
- name: Specimen
- name: SpecimenDefinition
- name: StructureDefinition
- name: StructureMap
- name: Subscription
- name: Substance
- name: SubstanceSpecification
- name: SupplyDelivery
- name: SupplyRequest
- name: Task
- name: TerminologyCapabilities
- name: TestReport
- name: TestScript
- name: ValueSet
- name: VerificationResult
- name: VisionPrescription
paths:
  /Account:
    get:
      tags:
      - Account
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      - name: owner
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: period
        in: query
        schema:
          type: string
          format: date
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
    post:
      tags:
      - Account
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Account'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Account/{id}:
    get:
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
    put:
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Account'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Account/{id}/_history:
    get:
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Account/{id}/_history/{vid}:
    get:
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
  /ActivityDefinition:
    get:
      tags:
      - ActivityDefinition
      parameters:
      - name: composed-of
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: context-quantity
        in: query
        schema:
          type: integer
      - name: context-type
        in: query
        schema:
          type: string
      - name: context-type-quantity
        in: query
        schema:
          type: string
      - name: context-type-value
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: depends-on
        in: query
        schema:
          type: string
      - name: derived-from
        in: query
        schema:
          type: string
      - name: description
        in: query
        schema:
          type: string
      - name: effective
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: jurisdiction
        in: query
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      - name: predecessor
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: successor
        in: query
        schema:
          type: string
      - name: title
        in: query
        schema:
          type: string
      - name: topic
        in: query
        schema:
          type: string
      - name: url
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityDefinition'
    post:
      tags:
      - ActivityDefinition
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ActivityDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ActivityDefinition/{id}:
    get:
      tags:
      - ActivityDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActivityDefinition'
    put:
      tags:
      - ActivityDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ActivityDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ActivityDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ActivityDefinition/{id}/_history:
    get:
      tags:
      - ActivityDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ActivityDefinition/{id}/_history/{vid}:
    get:
      tags:
      - ActivityDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ActivityDefinition'
  /AdverseEvent:
    get:
      tags:
      - AdverseEvent
      parameters:
      - name: actuality
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: event
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: recorder
        in: query
        schema:
          type: string
      - name: resultingcondition
        in: query
        schema:
          type: string
      - name: seriousness
        in: query
        schema:
          type: string
      - name: severity
        in: query
        schema:
          type: string
      - name: study
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: substance
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdverseEvent'
    post:
      tags:
      - AdverseEvent
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AdverseEvent'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /AdverseEvent/{id}:
    get:
      tags:
      - AdverseEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AdverseEvent'
    put:
      tags:
      - AdverseEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AdverseEvent'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - AdverseEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AdverseEvent/{id}/_history:
    get:
      tags:
      - AdverseEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AdverseEvent/{id}/_history/{vid}:
    get:
      tags:
      - AdverseEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AdverseEvent'
  /AllergyIntolerance:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: asserter
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: clinical-status
        in: query
        schema:
          type: string
      - name: code
        in: query
        schema:
          type: string
      - name: criticality
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: last-date
        in: query
        schema:
          type: string
          format: date
      - name: manifestation
        in: query
        schema:
          type: string
      - name: onset
        in: query
        schema:
          type: string
          format: date
      - name: patient
        in: query
        schema:
          type: string
      - name: recorder
        in: query
        schema:
          type: string
      - name: route
        in: query
        schema:
          type: string
      - name: severity
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: verification-status
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AllergyIntolerance'
    post:
      tags:
      - AllergyIntolerance
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AllergyIntolerance'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /AllergyIntolerance/{id}:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'
    put:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AllergyIntolerance'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AllergyIntolerance/{id}/_history:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AllergyIntolerance/{id}/_history/{vid}:
    get:
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'
  /Appointment:
    get:
      tags:
      - Appointment
      parameters:
      - name: actor
        in: query
        schema:
          type: string
      - name: appointment-type
        in: query
        schema:
          type: string
      - name: based-on
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: part-status
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: practitioner
        in: query
        schema:
          type: string
      - name: reason-code
        in: query
        schema:
          type: string
      - name: reason-reference
        in: query
        schema:
          type: string
      - name: service-category
        in: query
        schema:
          type: string
      - name: service-type
        in: query
        schema:
          type: string
      - name: slot
        in: query
        schema:
          type: string
      - name: specialty
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: supporting-info
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appointment'
    post:
      tags:
      - Appointment
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Appointment'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Appointment/{id}:
    get:
      tags:
      - Appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Appointment'
    put:
      tags:
      - Appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Appointment'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Appointment/{id}/_history:
    get:
      tags:
      - Appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Appointment/{id}/_history/{vid}:
    get:
      tags:
      - Appointment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Appointment'
  /AppointmentResponse:
    get:
      tags:
      - AppointmentResponse
      parameters:
      - name: actor
        in: query
        schema:
          type: string
      - name: appointment
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: part-status
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: practitioner
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentResponse'
    post:
      tags:
      - AppointmentResponse
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AppointmentResponse'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /AppointmentResponse/{id}:
    get:
      tags:
      - AppointmentResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
    put:
      tags:
      - AppointmentResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AppointmentResponse'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - AppointmentResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AppointmentResponse/{id}/_history:
    get:
      tags:
      - AppointmentResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AppointmentResponse/{id}/_history/{vid}:
    get:
      tags:
      - AppointmentResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
  /AuditEvent:
    get:
      tags:
      - AuditEvent
      parameters:
      - name: action
        in: query
        schema:
          type: string
      - name: address
        in: query
        schema:
          type: string
      - name: agent
        in: query
        schema:
          type: string
      - name: agent-name
        in: query
        schema:
          type: string
      - name: agent-role
        in: query
        schema:
          type: string
      - name: altid
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: entity
        in: query
        schema:
          type: string
      - name: entity-name
        in: query
        schema:
          type: string
      - name: entity-role
        in: query
        schema:
          type: string
      - name: entity-type
        in: query
        schema:
          type: string
      - name: outcome
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: policy
        in: query
        schema:
          type: string
      - name: site
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: subtype
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditEvent'
    post:
      tags:
      - AuditEvent
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuditEvent'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /AuditEvent/{id}:
    get:
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuditEvent'
    put:
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuditEvent'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AuditEvent/{id}/_history:
    get:
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /AuditEvent/{id}/_history/{vid}:
    get:
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuditEvent'
  /Basic:
    get:
      tags:
      - Basic
      parameters:
      - name: author
        in: query
        schema:
          type: string
      - name: code
        in: query
        schema:
          type: string
      - name: created
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Basic'
    post:
      tags:
      - Basic
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Basic'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Basic/{id}:
    get:
      tags:
      - Basic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Basic'
    put:
      tags:
      - Basic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Basic'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Basic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Basic/{id}/_history:
    get:
      tags:
      - Basic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Basic/{id}/_history/{vid}:
    get:
      tags:
      - Basic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Basic'
  /BodyStructure:
    get:
      tags:
      - BodyStructure
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: morphology
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BodyStructure'
    post:
      tags:
      - BodyStructure
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BodyStructure'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /BodyStructure/{id}:
    get:
      tags:
      - BodyStructure
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BodyStructure'
    put:
      tags:
      - BodyStructure
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BodyStructure'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - BodyStructure
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /BodyStructure/{id}/_history:
    get:
      tags:
      - BodyStructure
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /BodyStructure/{id}/_history/{vid}:
    get:
      tags:
      - BodyStructure
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BodyStructure'
  /Bundle:
    get:
      tags:
      - Bundle
      parameters:
      - name: composition
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: message
        in: query
        schema:
          type: string
      - name: timestamp
        in: query
        schema:
          type: string
          format: date
      - name: type
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bundle'
    post:
      tags:
      - Bundle
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Bundle'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Bundle/{id}:
    get:
      tags:
      - Bundle
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Bundle'
    put:
      tags:
      - Bundle
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Bundle'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Bundle
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Bundle/{id}/_history:
    get:
      tags:
      - Bundle
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Bundle/{id}/_history/{vid}:
    get:
      tags:
      - Bundle
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Bundle'
  /CapabilityStatement: {}
  /CapabilityStatement/{id}:
    get:
      tags:
      - CapabilityStatement
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
  /CarePlan:
    get:
      tags:
      - CarePlan
      parameters:
      - name: activity-code
        in: query
        schema:
          type: string
      - name: activity-date
        in: query
        schema:
          type: string
          format: date
      - name: activity-reference
        in: query
        schema:
          type: string
      - name: based-on
        in: query
        schema:
          type: string
      - name: care-team
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: condition
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: encounter
        in: query
        schema:
          type: string
      - name: goal
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        schema:
          type: string
      - name: instantiates-uri
        in: query
        schema:
          type: string
      - name: intent
        in: query
        schema:
          type: string
      - name: part-of
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: performer
        in: query
        schema:
          type: string
      - name: replaces
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarePlan'
    post:
      tags:
      - CarePlan
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CarePlan'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /CarePlan/{id}:
    get:
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CarePlan'
    put:
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CarePlan'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CarePlan/{id}/_history:
    get:
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CarePlan/{id}/_history/{vid}:
    get:
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CarePlan'
  /CareTeam:
    get:
      tags:
      - CareTeam
      parameters:
      - name: category
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: encounter
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: participant
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareTeam'
    post:
      tags:
      - CareTeam
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CareTeam'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /CareTeam/{id}:
    get:
      tags:
      - CareTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CareTeam'
    put:
      tags:
      - CareTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CareTeam'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - CareTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CareTeam/{id}/_history:
    get:
      tags:
      - CareTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CareTeam/{id}/_history/{vid}:
    get:
      tags:
      - CareTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CareTeam'
  /ChargeItem:
    get:
      tags:
      - ChargeItem
      parameters:
      - name: account
        in: query
        schema:
          type: string
      - name: code
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: entered-date
        in: query
        schema:
          type: string
          format: date
      - name: enterer
        in: query
        schema:
          type: string
      - name: factor-override
        in: query
        schema:
          type: number
      - name: identifier
        in: query
        schema:
          type: string
      - name: occurrence
        in: query
        schema:
          type: string
          format: date
      - name: patient
        in: query
        schema:
          type: string
      - name: performer-actor
        in: query
        schema:
          type: string
      - name: performer-function
        in: query
        schema:
          type: string
      - name: performing-organization
        in: query
        schema:
          type: string
      - name: price-override
        in: query
        schema:
          type: integer
      - name: quantity
        in: query
        schema:
          type: integer
      - name: requesting-organization
        in: query
        schema:
          type: string
      - name: service
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargeItem'
    post:
      tags:
      - ChargeItem
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChargeItem'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ChargeItem/{id}:
    get:
      tags:
      - ChargeItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChargeItem'
    put:
      tags:
      - ChargeItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChargeItem'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ChargeItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ChargeItem/{id}/_history:
    get:
      tags:
      - ChargeItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ChargeItem/{id}/_history/{vid}:
    get:
      tags:
      - ChargeItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChargeItem'
  /ChargeItemDefinition:
    get:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: context
        in: query
        schema:
          type: string
      - name: context-quantity
        in: query
        schema:
          type: integer
      - name: context-type
        in: query
        schema:
          type: string
      - name: context-type-quantity
        in: query
        schema:
          type: string
      - name: context-type-value
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: description
        in: query
        schema:
          type: string
      - name: effective
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: jurisdiction
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: title
        in: query
        schema:
          type: string
      - name: url
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChargeItemDefinition'
    post:
      tags:
      - ChargeItemDefinition
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChargeItemDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ChargeItemDefinition/{id}:
    get:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChargeItemDefinition'
    put:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ChargeItemDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ChargeItemDefinition/{id}/_history:
    get:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ChargeItemDefinition/{id}/_history/{vid}:
    get:
      tags:
      - ChargeItemDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChargeItemDefinition'
  /Claim:
    get:
      tags:
      - Claim
      parameters:
      - name: care-team
        in: query
        schema:
          type: string
      - name: created
        in: query
        schema:
          type: string
          format: date
      - name: detail-udi
        in: query
        schema:
          type: string
      - name: encounter
        in: query
        schema:
          type: string
      - name: enterer
        in: query
        schema:
          type: string
      - name: facility
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: insurer
        in: query
        schema:
          type: string
      - name: item-udi
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: payee
        in: query
        schema:
          type: string
      - name: priority
        in: query
        schema:
          type: string
      - name: procedure-udi
        in: query
        schema:
          type: string
      - name: provider
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subdetail-udi
        in: query
        schema:
          type: string
      - name: use
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Claim'
    post:
      tags:
      - Claim
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Claim'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Claim/{id}:
    get:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Claim'
    put:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Claim'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Claim/{id}/_history:
    get:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Claim/{id}/_history/{vid}:
    get:
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Claim'
  /ClaimResponse:
    get:
      tags:
      - ClaimResponse
      parameters:
      - name: created
        in: query
        schema:
          type: string
          format: date
      - name: disposition
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: insurer
        in: query
        schema:
          type: string
      - name: outcome
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: payment-date
        in: query
        schema:
          type: string
          format: date
      - name: request
        in: query
        schema:
          type: string
      - name: requestor
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: use
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClaimResponse'
    post:
      tags:
      - ClaimResponse
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClaimResponse'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ClaimResponse/{id}:
    get:
      tags:
      - ClaimResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClaimResponse'
    put:
      tags:
      - ClaimResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClaimResponse'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ClaimResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ClaimResponse/{id}/_history:
    get:
      tags:
      - ClaimResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ClaimResponse/{id}/_history/{vid}:
    get:
      tags:
      - ClaimResponse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClaimResponse'
  /ClinicalImpression:
    get:
      tags:
      - ClinicalImpression
      parameters:
      - name: assessor
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: encounter
        in: query
        schema:
          type: string
      - name: finding-code
        in: query
        schema:
          type: string
      - name: finding-ref
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: investigation
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: previous
        in: query
        schema:
          type: string
      - name: problem
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: supporting-info
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicalImpression'
    post:
      tags:
      - ClinicalImpression
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClinicalImpression'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ClinicalImpression/{id}:
    get:
      tags:
      - ClinicalImpression
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClinicalImpression'
    put:
      tags:
      - ClinicalImpression
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ClinicalImpression'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ClinicalImpression
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ClinicalImpression/{id}/_history:
    get:
      tags:
      - ClinicalImpression
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ClinicalImpression/{id}/_history/{vid}:
    get:
      tags:
      - ClinicalImpression
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClinicalImpression'
  /CodeSystem:
    get:
      tags:
      - CodeSystem
      parameters:
      - name: code
        in: query
        schema:
          type: string
      - name: content-mode
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: context-quantity
        in: query
        schema:
          type: integer
      - name: context-type
        in: query
        schema:
          type: string
      - name: context-type-quantity
        in: query
        schema:
          type: string
      - name: context-type-value
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: description
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: jurisdiction
        in: query
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: supplements
        in: query
        schema:
          type: string
      - name: system
        in: query
        schema:
          type: string
      - name: title
        in: query
        schema:
          type: string
      - name: url
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeSystem'
    post:
      tags:
      - CodeSystem
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CodeSystem'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /CodeSystem/{id}:
    get:
      tags:
      - CodeSystem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CodeSystem'
    put:
      tags:
      - CodeSystem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CodeSystem'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - CodeSystem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CodeSystem/{id}/_history:
    get:
      tags:
      - CodeSystem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CodeSystem/{id}/_history/{vid}:
    get:
      tags:
      - CodeSystem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CodeSystem'
  /Communication:
    get:
      tags:
      - Communication
      parameters:
      - name: based-on
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: encounter
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        schema:
          type: string
      - name: instantiates-uri
        in: query
        schema:
          type: string
      - name: medium
        in: query
        schema:
          type: string
      - name: part-of
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: received
        in: query
        schema:
          type: string
          format: date
      - name: recipient
        in: query
        schema:
          type: string
      - name: sender
        in: query
        schema:
          type: string
      - name: sent
        in: query
        schema:
          type: string
          format: date
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Communication'
    post:
      tags:
      - Communication
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Communication'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Communication/{id}:
    get:
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Communication'
    put:
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Communication'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Communication/{id}/_history:
    get:
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Communication/{id}/_history/{vid}:
    get:
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Communication'
  /CommunicationRequest:
    get:
      tags:
      - CommunicationRequest
      parameters:
      - name: authored
        in: query
        schema:
          type: string
          format: date
      - name: based-on
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: encounter
        in: query
        schema:
          type: string
      - name: group-identifier
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: medium
        in: query
        schema:
          type: string
      - name: occurrence
        in: query
        schema:
          type: string
          format: date
      - name: patient
        in: query
        schema:
          type: string
      - name: priority
        in: query
        schema:
          type: string
      - name: recipient
        in: query
        schema:
          type: string
      - name: replaces
        in: query
        schema:
          type: string
      - name: requester
        in: query
        schema:
          type: string
      - name: sender
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommunicationRequest'
    post:
      tags:
      - CommunicationRequest
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CommunicationRequest'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /CommunicationRequest/{id}:
    get:
      tags:
      - CommunicationRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommunicationRequest'
    put:
      tags:
      - CommunicationRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CommunicationRequest'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - CommunicationRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CommunicationRequest/{id}/_history:
    get:
      tags:
      - CommunicationRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CommunicationRequest/{id}/_history/{vid}:
    get:
      tags:
      - CommunicationRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommunicationRequest'
  /CompartmentDefinition:
    get:
      tags:
      - CompartmentDefinition
      parameters:
      - name: code
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: context-quantity
        in: query
        schema:
          type: integer
      - name: context-type
        in: query
        schema:
          type: string
      - name: context-type-quantity
        in: query
        schema:
          type: string
      - name: context-type-value
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: description
        in: query
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      - name: resource
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: url
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompartmentDefinition'
    post:
      tags:
      - CompartmentDefinition
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CompartmentDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /CompartmentDefinition/{id}:
    get:
      tags:
      - CompartmentDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompartmentDefinition'
    put:
      tags:
      - CompartmentDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CompartmentDefinition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - CompartmentDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CompartmentDefinition/{id}/_history:
    get:
      tags:
      - CompartmentDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /CompartmentDefinition/{id}/_history/{vid}:
    get:
      tags:
      - CompartmentDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompartmentDefinition'
  /Composition:
    get:
      tags:
      - Composition
      parameters:
      - name: attester
        in: query
        schema:
          type: string
      - name: author
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: confidentiality
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: encounter
        in: query
        schema:
          type: string
      - name: entry
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: period
        in: query
        schema:
          type: string
          format: date
      - name: related-id
        in: query
        schema:
          type: string
      - name: related-ref
        in: query
        schema:
          type: string
      - name: section
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: title
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Composition'
    post:
      tags:
      - Composition
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Composition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Composition/{id}:
    get:
      tags:
      - Composition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Composition'
    put:
      tags:
      - Composition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Composition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Composition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Composition/{id}/_history:
    get:
      tags:
      - Composition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Composition/{id}/_history/{vid}:
    get:
      tags:
      - Composition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Composition'
  /ConceptMap:
    get:
      tags:
      - ConceptMap
      parameters:
      - name: context
        in: query
        schema:
          type: string
      - name: context-quantity
        in: query
        schema:
          type: integer
      - name: context-type
        in: query
        schema:
          type: string
      - name: context-type-quantity
        in: query
        schema:
          type: string
      - name: context-type-value
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: dependson
        in: query
        schema:
          type: string
      - name: description
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: jurisdiction
        in: query
        schema:
          type: string
      - name: name
        in: query
        schema:
          type: string
      - name: other
        in: query
        schema:
          type: string
      - name: product
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: source-code
        in: query
        schema:
          type: string
      - name: source-system
        in: query
        schema:
          type: string
      - name: source-uri
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: target
        in: query
        schema:
          type: string
      - name: target-code
        in: query
        schema:
          type: string
      - name: target-system
        in: query
        schema:
          type: string
      - name: target-uri
        in: query
        schema:
          type: string
      - name: title
        in: query
        schema:
          type: string
      - name: url
        in: query
        schema:
          type: string
      - name: version
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConceptMap'
    post:
      tags:
      - ConceptMap
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ConceptMap'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /ConceptMap/{id}:
    get:
      tags:
      - ConceptMap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConceptMap'
    put:
      tags:
      - ConceptMap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ConceptMap'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - ConceptMap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ConceptMap/{id}/_history:
    get:
      tags:
      - ConceptMap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /ConceptMap/{id}/_history/{vid}:
    get:
      tags:
      - ConceptMap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ConceptMap'
  /Condition:
    get:
      tags:
      - Condition
      parameters:
      - name: abatement-age
        in: query
        schema:
          type: integer
      - name: abatement-date
        in: query
        schema:
          type: string
          format: date
      - name: abatement-string
        in: query
        schema:
          type: string
      - name: asserter
        in: query
        schema:
          type: string
      - name: body-site
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: clinical-status
        in: query
        schema:
          type: string
      - name: code
        in: query
        schema:
          type: string
      - name: encounter
        in: query
        schema:
          type: string
      - name: evidence
        in: query
        schema:
          type: string
      - name: evidence-detail
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: onset-age
        in: query
        schema:
          type: integer
      - name: onset-date
        in: query
        schema:
          type: string
          format: date
      - name: onset-info
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: recorded-date
        in: query
        schema:
          type: string
          format: date
      - name: severity
        in: query
        schema:
          type: string
      - name: stage
        in: query
        schema:
          type: string
      - name: subject
        in: query
        schema:
          type: string
      - name: verification-status
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Condition'
    post:
      tags:
      - Condition
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Condition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
  /Condition/{id}:
    get:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Condition'
    put:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Condition'
        required: false
      responses:
        200:
          description: Success
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Condition/{id}/_history:
    get:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _count
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
      responses:
        200:
          description: Success
          content: {}
  /Condition/{id}/_history/{vid}:
    get:
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: vid
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Condition'
  /Consent:
    get:
      tags:
      - Consent
      parameters:
      - name: action
        in: query
        schema:
          type: string
      - name: actor
        in: query
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: consentor
        in: query
        schema:
          type: string
      - name: data
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        schema:
          type: string
      - name: organization
        in: query
        schema:
          type: string
      - name: patient
        in: query
        schema:
          type: string
      - name: period
        in: query
        schema:
          type: string
          format: date
      - name: purpose
        in: query
        schema:
          type: string
      - name: scope
        in: query
        schema:
          type: string
      - name: security-label
        in: query
        schema:
          type: string
      - name: source-reference
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: _format
        in: query
        schema:
          type: string
          x-consoleDefault: application/json
        x-consoleDefault: application/json
      responses:
        200:
[...]
